.App {
	text-align: center;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-header {
	background-color: #222;
	height: 150px;
	padding: 20px;
	color: white;
}

.App-intro {
	font-size: large;
}

.sr-only {
	display: none;
}

/* Customized Main Panel CSS*/
.main_panel {
	margin: 20px auto;
    background: #fff;
    position: relative;
    border-radius: 3px;
    box-shadow: 0 1px 2px 1px #d9dddf!important;
}

h3 {
	background: #F08080;
    color: #fff;
    margin: 0;
    padding: 5px;
    font-weight: 400;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.15);
}

.flex-outer,
.flex-inner {
	list-style-type: none;
	padding: 0;
}

.input-append .add-on i {
	margin: 0;
}
.flex-outer {
	max-width: 800px;
	margin: 0 auto;
}

.flex-outer li {
	margin: 10px 15px;
}

.flex-outer > li > label + *,
.flex-inner {
	flex: 1 0 220px;
}

.flex-outer li,
.flex-inner {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.flex-outer > li > label,
.flex-outer li p {
	flex: 1 0 65px;
	max-width: 100px;
}

.flex-inner {
	padding: 0 8px;
	justify-content: space-between;
}

button#add {
	margin-top : 20px;
}

a {
    text-decoration: underline;
    cursor: pointer;
}

input[type='date'] {
	width: 90%;
}

input[type="text"],
.input-append .add-on:last-child {
	border-radius: 0;
}

.graph {
	margin: 35px 50px 0;
    box-shadow: 0 1px 8px 2px #d9dddf!important;
    padding:15px;
}
.svg-line-chart-label {
	font-size: 15px !important;
}

/* Customized Table CSS*/
.fixedDataTableLayout_main {
	margin: 20px auto !important;
	border: none !important;
	clear: both;
}
.public_fixedDataTableRow_main {
	border-left: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
}
.public_fixedDataTable_header {
	border: 1px solid #d3d3d3;
}
